// iOS Style
.platform-ios{
  page-role {
    ion-row {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    ion-col {
      width: 50%;
    }
    .content-container{
        padding: 10px 20px;
        margin: 10px 5px;
        padding: 20px;
    }
    .login-img-container {
        margin: auto;
    }
    .login-img{
      display: block;
      margin: auto;
      width: 60%;
      height: auto;
      max-width: 512px;
    }
    .login-list{
      margin-left: 10%;
      width: 100%;
      align-content: center;
    }
    .type-img-patient {
      background-color: inherit;
      float: right;
    }
    .type-img-hp {
      background-color: inherit;
      float: left;
    }
    .role-img{
      display: block;
      max-width: 150px;
      max-height: 150px;
      width: auto;
      height: auto;
    }
  }
}
//Android Style
.platform-android{
  page-role {
    ion-row {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
    ion-col {
      width: 50%;
    }
    .content-container{
        padding: 10px 20px;
        margin: 10px 5px;
        padding: 20px;
    }
    .login-img-container {
        margin: auto;
    }
    .login-img{
      display: block;
      margin: auto;
      width: 60%;
      height: auto;
    }
    .login-list{
      margin-left: 10%;
      width: 100%;
      align-content: center;
    }
    .type-img-patient {
      background-color: inherit;
      float: right;
    }
    .type-img-hp {
      background-color: inherit;
      float: left;
    }
    .role-img {
      display: block;
      max-width: 150px;
      max-height: 150px;
      width: auto;
      height: auto;
    }
  }
}

page-role {
  ion-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  ion-col {
    width: 50%;
  }
  .content-container{
      padding: 10px 20px;
      margin: 10px 5px;
      padding: 20px;
  }
  .login-img-container {
      margin: auto;
  }
  .login-img{
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
    max-width: 512px;
  }
  .login-list{
    margin-left: 20%;
    width: 100%;
    align-content: center;
  }
  .navbar-content{
    align-items: center;
    align-items: center;
  }
  .type-img-patient {
    background-color: inherit;
    float: right;
  }
  .type-img-hp {
    background-color: inherit;
    float: left;
  }
  .role-img{
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
  }
  .footer_logo {
    margin: auto;
    max-width: 500px;
    bottom: 10px;
    left: 10px;
  }
  .logo-img {
    width: 33%;
  }
  .inner-logo {
    width: 90%;
  }
  .inner-logo-bfh {
    width: 70%;
    margin-left: 10px;
  }
}
