<ion-header>
  <ion-navbar class="navbar-content" [hideBackButton]="hideBackButton">
    <ion-buttons left>
        <button ion-button (click)="goToRole()">
            <ion-icon class="customIcon">{{ lang.util_backButton }}</ion-icon>
        </button>
    </ion-buttons>
    <ion-title>{{ lang.login_View_Title }}</ion-title>
    <ion-buttons end>
      <button (click)="openSettings()" ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content ng-controller="LoginCtrl" scroll="false">
  <form [formGroup]="myForm">
    <div class="content-container">
      <img class="login-img" src="./assets/img/logo2.0.png"/>
      <ion-list>
        <ion-item>
          <ion-label stacked>{{ lang.login_View_Username }}</ion-label>
          <ion-input formControlName="username" type="text" ng-model="input.user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ lang.login_View_Password }}</ion-label>
          <ion-input formControlName="password" type="password" ng-model="input.user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{ lang.settings_ChkBox_StoreCred }}</ion-label>
          <ion-checkbox (click)="storeCredentials()" [checked]="settings.getStoreCred() == true"></ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <button ion-button block class="miwadoButton" (click)="loginMIWADO(myForm.value)">{{ lang.login_View_Login_Button }}</button>
        </ion-item>
      </ion-list>
    </div>
  </form>
</ion-content>
