page-chooseMsg {
  .docIcon {
    color: #268ba3;
  }
  ion-select {
    position: relative;
  }
  ion-datetime {
    position: relative;
  }
  .customIcon{
    background-image: url(assets/img/backButton.png);
    height: 5%;
    width: 5%;
  }
}
