// iOS Style
.platform-ios{
  ion-row {
    flex-wrap:wrap;
  }
  ion-datetime {
  position: relative;
  }
  .rowStyleConfirmation{
    align-items: center;
  }
  .datePickerConfirmation{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 30%;
    min-width: 30%;
  }
}

//Android Style
.platform-android{
  ion-row {
    flex-wrap:wrap;
  }
  ion-datetime {
  position: relative;
  }
  .rowStyleConfirmation{
    align-items: center;
  }
  .datePickerConfirmation{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 30%;
    min-width: 30%;
  }
}

//Browser Style
.rowStyleConfirmation{
  align-items: center;
}
.datePickerConfirmation{
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
