// iOS Style
.platform-ios{
  ion-row {
    flex-wrap:wrap;
  }
  ion-datetime {
  position: relative;
  }
  .dateTimeStyler{
    align-items: center;
    margin-bottom: 2%;
  }
  .selectDateCancelation{
    align-items: center;
    width: auto;
    float: left;
    margin-left: -1%;
    margin-top: -4%;
    margin-bottom: -4%;
  }

  p{
    float: left;
    max-height: inherit;
  }

  .textBlockCancelation{
    margin-left: 1%;
  }

  .selectSectionCancelation{
    width: 100%;
    float: right;
    margin-top: -6%;
    margin-left: -1%;
  }

  .datePickerCancelation{
    width: auto;
    float: left;
    padding-left: 2%;
    max-width: 100%;
    min-width: 100%;

  }

  .timePickerCancelation{
    width: auto;
    float: left;
    padding-left: 2%;
    max-width: 100%;
    min-width: 100%;

  }
}

//Android Style
.platform-android{
  ion-row {
    flex-wrap:wrap;
  }
  ion-datetime {
  position: relative;
  }
  .dateTimeStyler{
    align-items: center;
    margin-bottom: 2%;
  }
  .selectDateCancelation{
    align-items: center;
    width: auto;
    float: left;
    margin-left: -1%;
    margin-top: -4%;
    margin-bottom: -6%;
  }

  p{
    float: left;
    max-height: inherit;
  }

  .textBlock{
    margin-left: 1%;
  }

  .selectSectionCancelation{
    width: 100%;
    float: right;
    margin-top: -6%;
    margin-left: -1%;

  }
  .datePickerCancelation{
    width: auto;
    float: left;
    padding-left: 2%;
    max-width: 100%;
    min-width: 100%;

  }

  .timePickerCancelation{
    width: auto;
    float: left;
    padding-left: 2%;
    max-width: 100%;
    min-width: 100%;

  }
}


//Browser Style
.dateTimeStyler{
  align-items: center;
  margin-bottom: 2%;
}

.selectDateCancelation{
  align-items: center;
  width: auto;
  float: left;
  margin-top: -5%;
  margin-left: -1%;
}

p{
  float: left;
  max-height: inherit;
}

.textBlock{
  margin-left: 1%;
}

.selectSectionCancelation{
  width: 100%;
  float: right;

}
.datePickerCancelation{
  width: auto;
  float: left;
  padding-left: 2%;
  max-width: 100%;
  min-width: 100%;

}

.timePickerCancelation{
  width: auto;
  float: left;
  padding-left: 2%;
  max-width: 100%;
  min-width: 100%;

}

ion-select {
position: relative;
}
ion-icon {
padding-left: 5px !important;
}

.select-text{
max-width: auto !important;
box-sizing: initial;
}

.label-message-popUp{
width: 0px;
max-width: 0px;
min-width: 0px;
}

.select{
max-width: auto !important;
box-sizing: initial;
min-width: 100%;
}

.message-send-button{
background-color: #268ba3 !important;
}
