// iOS Style
.platform-ios{
  ion-select {
    position: relative;
  }
  ion-row {
    flex-wrap:wrap;
  }
  ion-datetime {
    position: relative;
  }
  .rowStyleNewAppointment{
    align-items: center;
  }
  .departmentPickerNewAppointment{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 100%;
    min-width: 100%;
  }
  .datePickerNewAppointment{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 100%;
    min-width: 100%;
  }
  .timePickerNewAppointment{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 75%;
    min-width: 75%;
  }
}

//Android Style
.platform-android{
  ion-select {
    position: relative;
  }
  ion-row {
    flex-wrap:wrap;
  }
  ion-datetime {
    position: relative;
  }
  .rowStyleNewAppointment{
    align-items: center;
  }
  .departmentPickerNewAppointment{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 100%;
    min-width: 100%;
  }
  .datePickerNewAppointment{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 100%;
    min-width: 100%;
  }
  .timePickerNewAppointment{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 75%;
    min-width: 75%;
  }
}

//Browser Style
.rowStyleNewAppointment{
  align-items: center;
}
.departmentPickerNewAppointment{
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.datePickerNewAppointment{
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.timePickerNewAppointment{
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

ion-select {
position: relative;
}
ion-icon {
padding-left: 5px !important;
}

.select-text{
max-width: auto !important;
box-sizing: initial;
}

.label-message-popUp{
width: 0px;
max-width: 0px;
min-width: 0px;
}

.select{
max-width: auto !important;
box-sizing: initial;
min-width: 100%;
}

.message-send-button{
background-color: #268ba3 !important;
}
