 <ion-header>
  <ion-navbar [hideBackButton]="hideBackButton">
    <ion-title>{{ pat.displayName }}</ion-title>
    <ion-buttons end>
      <button (click)="openSettings()" ion-button icon-only>
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="messages-page-content">
  <ion-scroll scrollY="true" class="messages">
    <div *ngFor="let message of messages" class="day-wrapper">
        <div [class]="'message message-' + message.ownership">
          <div>{{message.sender.display}}</div>
          <div class="message-content message-content-text">{{message.payload[0]}}</div>
          <span class="message-timestamp">{{ message.sent }}</span>
      </div>
    </div>
  </ion-scroll>
</ion-content>

<ion-footer>
  <div class="messages-page-footer">
    <div #cancelationPatient>
      <cancelationPatient id="cancelationPatient" hidden></cancelationPatient>
    </div>
    <div #confirmation>
      <confirmation id="confirmation" hidden></confirmation>
    </div>
    <div #newAppointment>
      <newAppointment id="newAppointment" hidden></newAppointment>
    </div>
    <div #patientCancelationNewDate>
      <patientCancelationNewDate id="patientCancelationNewDate" hidden></patientCancelationNewDate>
    </div>
    <div #patientCancelationWillCall>
      <patientCancelationWillCall id="patientCancelationWillCall" hidden></patientCancelationWillCall>
    </div>
    <div #reminder>
      <reminder id="reminder" hidden></reminder>
    </div>
    <div #changeBackoffice>
      <changeBackoffice id="changeBackoffice" hidden></changeBackoffice>
    </div>
  </div>

  <ion-label>{{ lang.commThread_Button_Choose_MessageType }}</ion-label>
  <ion-row>
    <ion-item class="message-editor">
      <ion-label>{{ lang.commThread_Button_Choose_MessageType }}</ion-label>
      <ion-select [(ngModel)]="TextBlock" (ionChange)="optionsTextBlock()">
        <ion-option [value]="item" *ngFor="let item of options">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button icon-only (click)="storeCommRes()" ass="message-editor-button">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-row>
</ion-footer>
