// iOS Style
.platform-ios{
  page-commThread {
    ion-scroll{
      margin:0 !important;
    }
    ion-icon {
      padding-left: 5px !important;
    }
    .label-message-popUp{
      width: 0px;
      max-width: 0px;
      min-width: 0px;
    }
    .scroll-content {
      background-color: #ebe7e5;
      padding:0 !important;
    }
    .select-text{
      max-width: auto !important;
      box-sizing: initial;
    }
    .select{
      max-width: auto !important;
      box-sizing: initial;
      min-width: 100%;
    }
    .scroll-zoom-wrapper{
      padding: 0px;
    }
    .item-ios{
      padding-left: 0px;
      max-width: 85%;
      float: left;
    }
    .message-sendername{
      margin-left: 1%;
      margin-top: 1%;
      font-weight: bolder;
      font-size: smaller;
    }
    .day-wrapper .day-timestamp {
    margin-left: calc(50% - 64px);
    margin-right: calc(50% - 64px);
    margin-bottom: 9px;
    text-align: center;
    line-height: 27px;
    height: 27px;
    border-radius: 3px;
    color: gray;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    background: #d9effa;
  }

  .messages {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .message-wrapper {
    margin-bottom: 9px;

    &::after {
      content: "";
      display: table;
      clear: both;
    }
    }

    .message {
      display: inline-block;
      position: relative;
      border-radius: 7px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
      max-width: 85%;

      &.message-mine {
        float: right;
        background-color: #c4f5ff;
        left: 0px;
        margin: 10px;

        &::before {
          right: -11px;
          background-image: url(../assets/img/message-mine2.png)
        }
      }

      &.message-other {
        float: left;
        background-color: #FFF;
        right: 0px;
        margin: 10px;

        &::before {
          left: -11px;
          background-image: url(../assets/img/message-other.png)
        }
      }

      &.message-otherHp {
        float: left;
        background-color: #d6edf2;
        right: 0px;
        margin: 10px;

        &::before {
          left: -11px;
          background-image: url(../assets/img/message-otherHp.png)
        }
      }

      &.message-other::before, &.message-mine::before, &.message-otherHp::before {
        content: "";
        position: absolute;
        bottom: 3px;
        width: 12px;
        height: 19px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .message-content {
        padding: 5px 7px;
        word-wrap: break-word;

        &::after {
          content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
          display: inline;
        }
      }

      .message-timestamp {
        margin-right: 5px;
        font-size: 10px;
        color: gray;
      }
    }

    .message-select-typ{
      max-width: 70%;
      min-width: 70%;
    }
    .message-select-label{
      max-width: 70%;
      min-width: 70%;
    }
    .messages-page-footer {
    padding-right: 0;
    padding-top: 2%;
    background-color: white;

    .message-editor {
      margin-left: 2px;
      background: white;
      max-width: 70%;
      min-width: 70%;
      border-radius: 3px;
      float: left;
    }

    .message-editor-button {
      box-shadow: none;
      max-width: 20%;
      min-width: 20%;
    }
    }
  }

  .message-send-button-container {
    background-color: #fff !important;
  }

  .message-send-button-container ion-label {
    margin: 0;
  }

  .item-md {
      padding-left: 8px;
      background-color: transparent;
  }

  .label-md {
    margin-left: 8px;
  }

  .item-md .item-button {
    height: 30px;
    font-size: 15px;
  }

  .message-send-button{
  background-color: #268ba3 !important;
  height: 100%;
  }
}
//Android Style
.platform-android{
  page-commThread {
    ion-scroll{
      margin:0 !important;
    }
    ion-icon {
      padding-left: 5px !important;
    }
    .label-message-popUp{
      width: 0px;
      max-width: 0px;
      min-width: 0px;
    }
    .scroll-content {
      background-color: #ebe7e5;
      padding:0 !important;
    }
    .select-text{
      max-width: auto !important;
      box-sizing: initial;
    }
    .select{
      max-width: auto !important;
      box-sizing: initial;
      min-width: 100%;
    }
    .scroll-zoom-wrapper{
      padding: 0px;
    }
    .item-ios{
      padding-left: 0px;
      max-width: 85%;
      float: left;
    }
    .message-sendername{
      margin-left: 1%;
      margin-top: 1%;
      font-weight: bolder;
      font-size: smaller;
    }
    .day-wrapper .day-timestamp {
    margin-left: calc(50% - 64px);
    margin-right: calc(50% - 64px);
    margin-bottom: 9px;
    text-align: center;
    line-height: 27px;
    height: 27px;
    border-radius: 3px;
    color: gray;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    background: #d9effa;
  }

  .messages {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .message-wrapper {
    margin-bottom: 9px;

    &::after {
      content: "";
      display: table;
      clear: both;
    }
    }

    .message {
      display: inline-block;
      position: relative;
      max-width: 85%;
      border-radius: 7px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .15);

      &.message-mine {
        float: right;
        right: 1px;
        background-color: #c4f5ff;
        left: 0px;
        margin: 10px;

        &::before {
          right: -11px;
          background-image: url(../assets/img/message-mine2.png)
        }
      }

      &.message-other {
        float: left;
        background-color: #FFF;
        right: 0px;
        margin: 10px;

        &::before {
          left: -11px;
          background-image: url(../assets/img/message-other.png)
        }
      }

      &.message-otherHp {
        float: left;
        background-color: #d6edf2;
        right: 0px;
        margin: 10px;

        &::before {
          left: -11px;
          background-image: url(../assets/img/message-otherHp.png)
        }
      }

      &.message-other::before, &.message-mine::before, &.message-otherHp::before {
        content: "";
        position: absolute;
        bottom: 3px;
        width: 12px;
        height: 19px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .message-content {
        padding: 5px 7px;
        word-wrap: break-word;

        &::after {
          content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
          display: inline;
        }
      }

      .message-timestamp {
        margin-right: 5px;
        font-size: 10px;
        color: gray;
      }
    }

    .message-select-typ{
      max-width: 70%;
      min-width: 70%;
    }
    .message-select-label{
      max-width: 70%;
      min-width: 70%;
    }
    .messages-page-footer {
    padding-right: 0;
    padding-top: 2%;
    background-color: white;

    .message-editor {
      margin-left: 2px;
      background: white;
      max-width: 70%;
      min-width: 70%;
      border-radius: 3px;
      float: left;
    }

    .message-editor-button {
      box-shadow: none;
      max-width: 20%;
      min-width: 20%;
    }
    }
  }

  .message-send-button-container {
    background-color: #fff !important;
  }

  .message-send-button-container ion-label {
    margin: 0;
  }

  .item-md {
      padding-left: 8px;
      background-color: transparent;
  }

  .label-md {
    margin-left: 8px;
  }

  .item-md .item-button {
    height: 30px;
    font-size: 15px;
  }

  .message-send-button{
  background-color: #268ba3 !important;
  height: 100%;
  }
}

page-commThread {
  ion-select {
    position: relative;
  }
  ion-icon {
    padding-left: 5px !important;
  }
  .select-text{
    max-width: auto !important;
    box-sizing: initial;
  }
  .label-message-popUp{
    width: 0px;
    max-width: 0px;
    min-width: 0px;
  }
  .select{
    max-width: auto !important;
    box-sizing: initial;
    min-width: 100%;
  }

  .scroll-content {
    background-color: #ebe7e5;
    padding: 0 !important;
  }
  scroll-zoom-wrapper{
    padding: 0px;
  }
  .message-sendername{
    margin-left: 1%;
    margin-top: 1%;
    font-weight: bolder;
    font-size: smaller;
  }
  .day-wrapper .day-timestamp {
  margin-left: calc(50% - 64px);
  margin-right: calc(50% - 64px);
  margin-bottom: 9px;
  text-align: center;
  line-height: 27px;
  height: 27px;
  border-radius: 3px;
  color: gray;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  background: #d9effa;
}

.messages {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.message-wrapper {
  margin-bottom: 9px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
  }

  .message {
    display: inline-block;
    position: relative;
    max-width: 50%;
    border-radius: 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    clear: both;
    margin-top: 2%;
    margin-bottom: 2%;


    &.message-mine {
      float: right;
      background-color: #c4f5ff;
      clear: both;
      left: 0px;
      margin: 10px;

      &::before {
        right: -11px;
        background-image: url(../assets/img/message-mine2.png)
      }
    }

    &.message-other {
      float: left;
      background-color: #FFF;
      clear: both;
      right: 0px;
      margin: 10px;

      &::before {
        left: -11px;
        background-image: url(../assets/img/message-other.png)
      }
    }

    &.message-otherHp {
      float: left;
      background-color: #d6edf2;
      right: 0px;
      margin: 10px;

      &::before {
        left: -11px;
        background-image: url(../assets/img/message-otherHp.png)
      }
    }

    &.message-other::before, &.message-mine::before, &.message-otherHp::before {
      content: "";
      position: absolute;
      bottom: 3px;
      width: 12px;
      height: 19px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .message-content {
      padding: 5px 7px;
      word-wrap: break-word;

      &::after {
        content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
        display: inline;
      }
    }

    .message-timestamp {
      margin-right: 5px;
      font-size: 10px;
      color: gray;
      float: right;
    }
  }

  .message-select-typ{
    max-width: 70%;
    min-width: 70%;
  }
  .message-select-label{
    max-width: 70%;
    min-width: 70%;
  }
  .messages-page-footer {
  padding-right: 0;
  padding-top: 2%;
  background-color: white;

    .message-editor {
      margin-left: 2px;
      background: white;
      max-width: 70%;
      min-width: 70%;
      border-radius: 3px;
      float: left;
    }

    .message-editor-button {
      box-shadow: none;
      max-width: 20%;
      min-width: 20%;
    }
  }

  .navbar-content{
    align-items: center;
  }

  .message-send-button-container {
    background-color: #fff !important;
  }

  .message-send-button-container ion-label {
    margin: 0;
  }

  .item-md {
      padding-left: 8px;
      background-color: transparent;
  }

  .label-md {
    margin-left: 8px;
  }

  .item-md .item-button {
    height: 30px;
    font-size: 15px;
  }

  .message-send-button{
  background-color: #268ba3 !important;
  height: 100%;
  }

  .customIcon{
    background-image: url(assets/img/backButton.png);
    height: 5%;
    width: 5%;
  }
}
