// iOS Style
.platform-ios{
  ion-row {
    flex-wrap:wrap;
  }
  ion-datetime {
  position: relative;
  }
  .rowStyleReminder{
    align-items: center;
  }
  .datePickerReminder{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 70%;
    min-width: 70%;
  }
  .timePickerReminder{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 50%;
    min-width: 50%;
  }
}

//Android Style
.platform-android{
  ion-row {
    flex-wrap:wrap;
  }
  ion-datetime {
  position: relative;
  }
  .rowStyleReminder{
    align-items: center;
  }
  .datePickerReminder{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 70%;
    min-width: 70%;
  }
  .timePickerReminder{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: -3%;
    max-width: 50%;
    min-width: 50%;
  }
}

//Browser Style
.rowStyleReminder{
  align-items: center;
}
.datePickerReminder{
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.timePickerReminder{
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
