// iOS Style
.platform-ios{
  ion-row {
    flex-wrap:wrap;
  }
  ion-datetime {
  position: relative;
  }
  .dateTimeStyler{
    align-items: center;
    margin-bottom: 2%;
  }
  .selectDateCancelation{
    align-items: center;
    width: auto;
    float: left;
    margin-left: -1%;
    margin-top: -4%;
    margin-bottom: -4%;
  }

  .textCancelation{
    padding-right: 15%;
  }

  .textBlockCancelation{
    margin-left: 1%;
  }

  .selectSectionCancelation{
    width: 100%;
    float: right;
    margin-top: -6%;
    margin-left: -1%;
  }

  .datePickerCancelation{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
  }

  .timePickerCancelation{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
  }
}

//Android Style
.platform-android{
  ion-row {
    flex-wrap:wrap;
  }
  ion-datetime {
  position: relative;
  }
  .dateTimeStyler{
    align-items: center;
    margin-bottom: 2%;
  }
  .selectDateCancelation{
    align-items: center;
    width: auto;
    float: left;
    margin-left: -1%;
    margin-top: -4%;
    margin-bottom: -4%;
  }

  .textCancelation{
    padding-right: 15%;
  }

  .textBlockCancelation{
    margin-left: 1%;
  }

  .selectSectionCancelation{
    width: 100%;
    float: right;
    margin-top: -6%;
    margin-left: -1%;
  }

  .datePickerCancelation{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
  }

  .timePickerCancelation{
    width: auto;
    float: left;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    }
}

//Browser
.dateTimeStyler{
  align-items: center;
  margin-bottom: 2%;
}
.selectDateCancelation{
  align-items: center;
  width: auto;
  float: left;
  margin-left: -1%;
  margin-top: -4%;
  margin-bottom: -4%;
}

.textCancelation{
  padding-right: 15%;
}

.textBlockCancelation{
  margin-left: 1%;
}

.selectSectionCancelation{
  width: 100%;
  float: right;
  margin-top: -6%;
  margin-left: -1%;
}

.datePickerCancelation{
  width: auto;
  float: left;
  max-width: 100%;
  min-width: 100%;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.timePickerCancelation{
  width: auto;
  float: left;
  max-width: 100%;
  min-width: 100%;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

ion-select {
position: relative;
}
ion-icon {
padding-left: 5px !important;
}

.select-text{
max-width: auto !important;
box-sizing: initial;
}

.label-message-popUp{
width: 0px;
max-width: 0px;
min-width: 0px;
}

.select{
max-width: auto !important;
box-sizing: initial;
min-width: 100%;
}

.message-send-button{
background-color: #268ba3 !important;
}
