// iOS Style
.platform-ios{
  patlist-page{
    img{
      max-height: auto;
      height: 10%;
      max-width: auto;
      width: 10%;
    }
  }
}
//Android Style
.platform-android{
  patlist-page{
    img{
      max-height: auto;
      height: 10%;
      max-width: auto;
      width: 10%;
    }
  }
}
patlist-page{
  img{
    max-height: auto;
    height: 5%;
    max-width: auto;
    width: 5%;
  }
  .navbar-content{
    align-items: center;
  }
}
