page-impressum {
  .form-style-5{
      max-width: 800px;
      padding: 10px 20px;
      background: #d6edf2;
      margin: 10px 5px;
      padding: 20px;
      border-radius: 8px;
  }

  .form-style-5 label {
      display: block;
      margin-right: 5px;
  }

  .form-style-5 ion-row {
      list-style:none;
      padding:0;
      margin-bottom:8px;
  }
  .subtitle {
    font-weight: bold;
    font-size: 16px;
  }
}
